:root{
    font-family: arial;
}

a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
#signin{
    background: rgb(69,134,248);
    color: #fff;
    font-weight: 600;
    padding: 7px 10px;
    margin-top: -4px;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
}
nav > ul {
    display: flex;
    justify-content: flex-end;
}
nav > ul > li{
    padding: 15px;
    font-size: 15px;
}
nav > ul > li > a{
    cursor: pointer;
}
#container{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}
#img{
    justify-self: center;
    margin-bottom: 10px;
}
#search{
padding: 12px;
border-radius: 20px;
width: 550px;
border: 1px solid #c0c0c0;
outline: none;
font-size: 16px;
}
#btn-div{
    display: flex;
    justify-content: center;
}
#btn-div > button{
background: rgb(244,244,244);
color: #808080;
padding: 9px 14px;
border-radius: 4px;
border: 0;
font-size: 16px;
margin: auto 5px;
outline: none;
cursor: pointer;
}
#btn-div > button:hover{
border: 1px solid #c0c0c0;
padding: 8px 13px;
}
#desc{
    font-size: 15px;
    display: flex;
    justify-content: center;
}
#desc > p > a{
    color: blue;
    margin: auto 3px;
    cursor: pointer;
}
#desc > p > a:hover{
text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 15px;
    margin: 0;
    background: rgb(244,244,244);
    color: #808080;
    width: 99%;
    font-size: 15px;
}
footer>p{
    margin: 15px 15px;
}
footer > #footer{
    display: flex;
    margin: 0;
}
footer > #footer > a{
   margin: 0 15px;
}
